<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>001: Parkfinite2 Portfolio Piece</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="./index.html" title="">01 : Home</a></li>
                    <li><a href="./works.html" title="">02 : Works</a></li>
                    <li><a href="./about.html" title="">03 : About me</a></li>
                    <li><a href="./contact.html" title="">04 : Contact</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
                    <li><a href="./work01.html" title="" class="active">001</a></li>
                    <li><a href="./work02.html" title="">002</a></li>
                    <li><a href="./work03.html" title="">003</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="text-center">
                        <h1 class="h2">001: Parkfinite2: Full-stack mobile app.</h1>
                    </div>
                    <p class="h3 text-center">//Python & FastAPI / TypeScript & ReactNative / Expo / PostgreSQL & SQLite
                        / GoogleMapsApi /
                        Pytest// </p>

                    <blockquote>
                        <p>Travelling in a campervan relying heavily on several different apps
                            with Google Maps draining battery in the background, it seemed obvious to leverage
                            Google Maps API and begin to combine all of a traveller's required functionality into
                            one easily navigable mobile application.</p>
                        <p>Parkfinite started life in vanilla ReactNative as an end-of-bootcamp group project (go
                            Funcaholics!). In V2, I have rebuilt the front end to teach myself expo-router
                            and improve my skills in the React-ecosystem, also introducing JSON Web Token
                            authentication.</p>
                        <p>The front-end is a Typescript/Expo ReactNative mobile application built around Google Maps
                            Api, allowing users to search for and create peer-reviewed park-ups. Navigation is via an
                            intuitive combination of drawers, tabs and stacks. Detailed content is protected via login,
                            managed using Expo secure storage.</p>
                        <p>The backend is a first-look into FastAPI, ORMs, SQLite Pydantic Modelling and Pytest, and
                            while not perfect was consequently an ambitious and exciting learning curve. I plan to
                            refactor this API, using Asyncio to create truly asynchronous code, leveraging FastAPIs huge
                            potential of workers.</p>
                        <p>I have huge plans for expanding this app over time, to introduce visualised journey logs,
                            in-app navigation, gamification, and generative AI recommendations.</p>
                    </blockquote>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-1half section-container-spacer text-center">
                <a href="https://github.com/RKHarrison/fe-parkfinite-2">
                    <img src="../static/assets/images/Parkfinite2Overview.png" class="img-responsive-larger"
                         alt="Three screenshots of a campervan application portfolio piece.">
                </a>
                <a class='h2' href="https://github.com/RKHarrison/fe-parkfinite-2">Click for
                    front-end repo</a>
                <a class='h2' href="https://github.com/RKHarrison/be-parkfinite-2">Click for
                    back-end repo</a>

                <p class="h3">PLEASE ALLOW UP TO A MINUTE FOR APP ACCESS DUE TO FREE HOSTING</p>

            </div>

            <div class="col-xs-12">
                <img src=".static/assets/images/work001-04.jpg" class="img-responsive" alt="">
            </div>

        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
       navActivePage();
    });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
<script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>